<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Them</title>
</head>
<body>
    Edit data
    
    <form action="/sinhvien/sua" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="txtID" value="<%=sv.id%>">

        <input type="text" name="txtHoTen" placeholder="Ho Ten" value="<%=sv.hoten%>"><br/>
        <input type="text" name="txtEmail" placeholder="Email" value="<%=sv.email%>"><br/>
                
        <input type="submit" value="Sua">

    </form>


</body>
</html>